.orange {
  color: #730;
}
article {
}
header {
}
#company {
  font-family: BookAntiqu,serif;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: 1px 1px #999;
}
#contact {
  margin-top: 3.5rem;
}
#content {
  padding: 70px;
  padding-bottom: 0
}
#copyright {
  font-size: small;
  padding: 10px;
  text-align: right;
}
#email {
  font-size: large;
}
#id {
}
#phone {
  font-size: xx-large;
}
#promo {
  padding: 40px 0px 40px 40px;
}
#promo-title {
  font-size: large;
  font-weight: bold;
  text-shadow: white 1px 1px;
}
#promo-code {
  color: white;
  font-size: xx-large;
  text-shadow: #951 1px 1px;
}
#services {
  color: #C73;
  font-family: Book Antiqua,serif;
  font-size: xx-large;
  list-style-type: square;
  padding: 0;
}
#services > li {
}
#slogan {
  color: #730;
}